// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


h2 {
  margin-top: 0 !important;
}

.ptb{
  padding-top: 10px;
  padding-bottom: 10px;
}
